.catMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    padding: var(--small);
    margin-bottom: var(--midSize);
}

.catMenuItem {
    background-color: var(--medium2);
    border-color: var(--lightlight1);
    color: var(--darkdark2);
    padding: var(--minimini);
    margin: calc(var(--superMini) / 2);
    flex-basis: 15%;
    flex-grow: 1;
    font-size: var(--small);
    border-radius: var(--minimini);
}

.catMenuItem:hover {
    color: var(--dark2);
    background-color: var(--lightlight2);
    cursor: default;
}

.catMenuItem[disabled] {
    color: var(--superdark2);
    background-color: var(--dark2);
    cursor: default;
}
