
.translator{
    display:flex;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}
button{
    background-color: var(--light);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--hugehuge);
    border-radius: 50px;
    margin: 1vw;
    font-family: Optima, Helvetica, Ariel, sans-serif;
}
button:hover{
    background-color: var(--medium);
    color: var(--grey);
}
button:disabled{
    background-color: #c3c9d6;
    color: #d3d9e6;
}

.langSelect{
    border-radius: 15px;
    padding: 5px;
}

.langSelect:hover{
    color: var(--light);
    cursor: default;
    background-color: var(--white);
}

.searchBlock{
  display: flex;
  flex-direction: column;
  margin: var(--large);
}

.wordEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: var(--huge);
}

.searchBar{
  width: 40%;
  border-radius: 20px;
  margin: var(--minimini);
  padding: var(--minimini);
  font-family: Optima, Helvetica, Ariel, sans-serif;
  font-size: var(--large);
}

.notFound{
  display: none;
  flex-direction: column;
  color: firebrick;
  margin-top: 5vw;
}

.notFoundLarge{
    font-size: var(--huge);
    margin-bottom: 2vw;
}

.notFoundSmall{
    font-size: var(--small);
}

.directions{
    font-size: var(--mini);
    margin-left: var(--small);
    color: var(--light);
    display:flex;
    flex-grow: 4;
    justify-content: flex-end;
    text-align: right;
}
