
.translator{
    display:flex;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}
button{
    background-color: var(--light);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(20px + 0.5vw);
    border-radius: 50px;
    margin: 1vh;
    font-family: Optima, Helvetica, Ariel, sans-serif;
}
button:hover{
    background-color: var(--medium);
    color: var(--grey);
}
button:disabled{
    background-color: #c3c9d6;
    color: #d3d9e6;
}

.langSelect{
    border-radius: 15px;
    padding: 5px;
}

.langSelect:hover{
    color: var(--light);
    cursor: default;
    background-color: var(--white);
}

.searchBlock{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  margin: 5vh;
  height: 30vh;
}

.wordEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size:calc(20px + 0.5vh);
}

.searchBar{
  width: 40%;
  height: calc(20px + 0.5vh);
  border-radius: 20px;
  margin: calc(5px + 1vh);
  padding: calc(5px + 1vh);
  font-family: Optima, Helvetica, Ariel, sans-serif;
  font-size: calc(17px + 0.5vh);
}

.notFound{
  display: none;
  flex-direction: column;
  color: firebrick;
  margin-top: 10vh;
}

.notFoundLarge{
    font-size: calc(25px + 0.5vh);
    margin-bottom: 3vh;
}

.notFoundSmall{
    font-size: calc(12px + 0.5vh);
}

.directions{
    font-size: calc(12px + 0.5vh);
    margin-left: calc(12px + 0.5vh);
    color: var(--light);
    display:flex;
    flex-grow: 4;
    justify-content: right;
}
