.searchBlock{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 5vh;
}

.searchLangCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.searchBar{
  width: 500px;
  height: 700px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.langButton{
  margin-left: 2vw;
  margin-right: 2vw;
}

.wordDef{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: left;
  margin-bottom: 2vh;
}

.notFound{
  display: none;
  flex-direction: column;
  color: firebrick;
  margin-top: 5vh;
}

.wordDefContainer{
  display: none;
  flex-direction: column;
}

.extraWordDefs{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.conjContain{
  display: flex;
  flex-direction: row;
}

.etym{
  display: flex;
  flex-direction: row;
}

.pemLinkWord{
  color: dodgerBlue;
  text-decoration: underline;
}

.pemLinkWord:hover{
  color: lightSkyBlue;
}

body {
  margin: 5vw;
}
