.wordDefContainer {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.wordDef {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: var(--hugehuge);
    margin-top: var(--large);
    margin-bottom: var(--large);
}

.wordOriginContain {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: var(--minimini);
}

.word {
    font-size: var(--hugehuge);
    font-weight: bold;
}

.etym {
    font-size: var(--mini);
    color: DarkGrey;
    margin-left: var(--mini);
    margin-top: calc(var(--hugehuge) - 1.1 * var(--mini));
    display: flex;
    flex-direction: row;
    white-space: pre;
}

.def {
    display: flex;
    flex-direction: column;
    font-size: var(--small);
    margin-bottom: calc(var(--superMini) / 2);
    white-space: pre;
    text-wrap: wrap;
}

.notes {
    font-size: var(--mini);
    color: Grey;
    white-space: normal;
    display: block;
    margin-bottom: var(--superMini);
    text-wrap: wrap;
}

.other {
}
.defSpacer {
    /* margin-bottom: calc(var(--superMini) / 2); */
}

.conj {
    display: flex;
    flex-direciton: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.marker {
    font-size: var(--mini);
    color: SlateGrey;
    margin-top: calc(var(--midSize) - var(--mini));
    margin-left: var(--minimini);
    margin-right: var(--mini);
}

.wordList {
    font-size: var(--small);
}

.extraWordDefs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.conjContain {
    display: flex;
    flex-direction: row;
}

.orosLinkWord {
    color: var(--darkdark2);
    text-decoration: underline;
    border-radius: 15px;
    padding: 0 5px 5px 5px;
}

.orosLinkWord:hover {
    color: var(--dark2);
    cursor: default;
    background-color: var(--lightlight2);
}
