.otherCheats {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    text-align: left;
    width: 100%;
    max-width: 1000px;
}

.exampleSentences {
    text-align: left;
    margin-left: 15px;
}

.addLink {
    font-size: var(--hugehuge);
    margin: var(--huge);
}

.links {
    padding: var(--large);
}
