.otherCheats{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    text-align: left;
}

.exampleSentences{
    text-align: left;
    margin-left: 15px;
}

.addLink{
    font-size: var(--hugehuge);
    margin: var(--huge);
}

.links{
    padding: var(--large);
}

a:link{
    color: #cc410e;
}

a:visited{
    color: #cc410e;
}

a:hover{
    color: var(--dark2);
}

table{
    margin-left: 15px;
    text-align: left;
    border-collapse: collapse;
    width: calc(200px + 30vw);
    margin-bottom: var(--small);
}

td, th {
  text-align: left;
  padding: 8px;
  border: 1px solid var(--dark2);
}

tr:nth-child(odd) {
  background-color: var(--lightlight2);
}
tr:nth-child(1) {
  background-color: var(--medium2);
}
