:root {
    --lightlight1: #9ad14d;
    --light1: #71b535;
    --medium1: #30a122;
    --dark1: #0e8032;
    --white: #fcfbdc;
    --lightlight2:#faf4be;
    --light2:#f5ec9f;
    --medium2: #f5de82;
    --dark2: #f5ba56;
    --darkdark2:#d68727;
    --superMini: calc(18px + 0.25vw);
    --minimini: calc(22px + 0.25vw);
    --mini: calc(25px + 0.25vw);
    --small: calc(28px + 0.25vw);
    --midSize: calc(32px + 0.25vw);
    --large: calc(36px + 0.25vw);
    --huge: calc(40px + 0.25vw);
    --hugehuge: calc(44px + 0.25vw);
    --superHuge: calc(50px + 0.25vw);
}

/* If the screen size is 601px wide or more, set fonts to be smaller*/
@media screen and (min-device-width: 801px) {
  :root {
      --superMini: calc(6px + 0.5vw);
      --minimini: calc(8px + 0.5vw);
      --mini: calc(10px + 0.5vw);
      --small: calc(12px + 0.5vw);
      --midSize: calc(14px + 0.5vw);
      --large: calc(17px + 0.25vw);
      --huge: calc(19px + 0.25vw);
      --hugehuge: calc(23px + 0.25vw);
      --superHuge: calc(30px + 1vw);
  }
}

.partsOfSpeech{
    display: none;
}

.prefixSuffix{
    display: none;
}

.honorifics{
    display: none;
}

.links{
    display:none;
}

.fullDict{
    display:none;
}

.translator{
    display: flex;
}

.pageBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.menuBar{
    width: 100vw;
    background-color: var(--dark1);
    color: AliceBlue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.title{
    font-size: var(--superHuge);
    align-self: center;
    margin: var(--midSize);
    font-weight: bold;
    letter-spacing: 0.3vw;
}

.menuItemContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.menuItem{
    display: flex;
    flex-grow: 1;
    background-color: var(--light1);
    padding: calc(3px + 1vw);
    justify-content: center;
    align-items: flex-end;
    font-size: var(--midSize);
    border-color: var(--dark1);
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-radius: 10px 10px 0 0;
}

.menuItem:hover{
    background-color: var(--medium1);
    color: var(--lightlight1);
    cursor: default;
}

.activeSpecial{
    background-color: var(--lightlight1) !important;
    border-color: White !important;
    color: White !important;
}

.active{
    background-color: White !important;
    border-color: White !important;
    color: var(--medium1) !important;
}

.quickActive{
    background-color: White !important;
    border-color: White !important;
    color: var(--darkdark2) !important;
}


.quickMenu{
    display:none;
    background-color: var(--lightlight1);
    padding-left: var(--midSize);
    padding-right: var(--midSize);
    padding-top: var(--midSize);
}

.quickItem{
    background-color: var(--medium2);
    border-color: var(--lightlight1);
    color: var(--darkdark2);
}

.quickItem:hover{
    color: var(--dark2);
    background-color: var(--lightlight2);
    cursor: default;
}

body {
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Optima, Helvetica, Ariel, sans-serif;
    font-size: var(--midSize);
    margin: 0 auto;
}

.h2{
    font-size: var(--large);
    text-align: left;
    margin-top: var(--midSize);
    margin-bottom: var(--midSize);
}
