:root {
  --light: #5983d9;
  --medium: #416abf;
  --dark: #2c529e;
  --white: AliceBlue;
  --grey: #c0cff0;
  --minimini: calc(5px + 0.5vw);
  --mini: calc(8px + 0.5vw);
  --small: calc(11px + 0.5vw);
  --midSize: calc(14px + 0.5vw);
  --large: calc(17px + 0.25vw);
  --huge: calc(20px + 0.25vw);
  --hugehuge: calc(25px + 0.25vw);
}

.pageBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: var(--small);
    margin-right: var(--small);
}
.menuBar{
    width: 100%;
    background-color: var(--dark);
    color: AliceBlue;
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: flex-end;
    border-radius: 20px 20px 0 0;
}

.title{
    font-size: calc(30px + 1vw);
    align-self: center;
    margin: var(--midSize);
    font-weight: bold;
    letter-spacing: 0.3vw;
}

.menuItemContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.menuItem{
    display: flex;
    flex-grow: 1;
    background-color: var(--light);
    margin-left: 1vw;
    margin-right: 1vw;
    padding: calc(3px + 1vw);
    border-radius: 20px 20px 0 0;
    justify-content: center;
    align-items: flex-end;
    font-size: var(--midSize);
    border-color: var(--dark);
    border-style: solid;
}

.menuItem:hover{
    background-color: var(--medium);
    color: var(--grey);
    cursor: default;
}

body {
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Optima, Helvetica, Ariel, sans-serif;
    font-size: var(--midSize);
}

.h2{
    font-size: var(--large);
    text-align: left;
    margin-top: var(--midSize);
    margin-bottom: var(--midSize);
}
